<% provide(:title, 'Login') %>

<h1 class="center"> Log in  </h1>

<form>

<p>
<h3>Email: </h3>
<input type="text" name="email" >

<h3>Password: </h3>
<input type="password" name="password" >
</p>

<p>
<button> Login </button> 
</p>

<p>
New user? <a href="signup">Sign up now!</a>
</p>
</form>