<% provide(:title, 'Login') %>

<h1 class="center"> Log in  </h1>

<form>
<h3> Email: </h3>
<input type="text" name="email" value="">

<h3> Password: </h3>
<input type="text" name="password" value="">

<br>
<button> Login </button> 
<br> <br>

New user? <a href="signup">Sign up now!</a>
<br><br>
</form>